<h1><%= @industry.name %></h1> <!-- Show name of Industry at top of the page -->

<ul> <!-- Create list of Industry info -->
  <li><p>Companies:  <%= @industry.company.name %></p></li> <!-- Show companies within the industry -->
</ul>
