<h1>Stock View</h1>
<p>Hopefully might work or not</p>

<% if @current_user.present? %> <!-- If the user is logged in -->
  Welcome back <%= @current_user.email %>! <!-- Message displayed to show 'Welcome Back User's email address' -->
<% end %>
