<h1><%= @index.name %></h1> <!-- Show name of Index at top of the page -->

<ul> <!-- Create list of Index info -->
  <li><p>Companies:  <%= @index.company.name %></p></li> <!-- Show companies within the index -->
</ul>
